
examples/adf/examples/get-started/play_mp3/build/

examples/adf/examples/get-started/play_mp3_control/build/


examples/peripherals/gpio/build/

examples/peripherals/mcpwm/mcpwm_servo_control/build/

examples/protocols/sockets/udp_client/build/
